window {
    background-color: #333333;
    font-family: "Terminus";
    font-weight: bold;
}

#input {
    border: none;
    background-color: #555555;
}

#outer-box {
    margin: 10px;
    background-color: #333333;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}
