window {
    background-color: #33333355; 
    font-family: "Terminus (TTF)";
    font-weight: bold;
}

#input {
    border: none;
    background-color: #55555555; 
}

#outer-box {
    margin: 10px;
    background-color: #33333355;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}
